body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

#my_name {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  position: relative;
  left: 200px;
  top: 100px;
}

#data_scientist {
  margin: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 200px;
  top: 80px;
}

.top-container {
  background-color: #F0EBE3;
  position: relative;
  padding-top: 8%;
}

#network_icon {
  position: relative;
  right: 250px;
  bottom: 150px;
  width: 25%;
}
