body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66BFBF;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

#network_icon {
  width: 25%;
}

#avatar_img {
  width: 10%;
}

.top-container {
  background-color: #F0EBE3;
  position: relative;
  padding-top: 100px;
}

.coding_img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.data_science_img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
